@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans+SC&subset=latin,latin-ext');
body {
    /* Size */
    $mobileMin: 0px;
    $mobileMax: 480px;
    $tablesMin: 481px;
    $tablesMax: 768px;
    $laptopMin: 769px;
    $laptopMax: 1024px;
    $deskopMin: 1025px;
    $deskopMax: 5200px;
    /*Coros*/
    $greenDark: #263238;
    /* MOBILE */
    @media (max-width: $tablesMax) {
        .deskop {
            display: none;
        }
        background-size: 100%;
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Alegreya Sans SC',
        sans-serif;
        h1 {
            font-family: 'DryTransferFolio-Caps', sans-serif;
        }
    }
    /* DESKOP */
    @media (min-width: $laptopMin) {
        .mobile {
            display: none;
        }
        background-size: 100%;
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Alegreya Sans SC',
        sans-serif;
        h1 {
            font-family: 'DryTransferFolio-Caps', sans-serif;
        }
    }
}

@font-face {
    font-family: 'DryTransferFolio-Caps';
    src: url('./assets/fonts/DryTransfer Folio Caps2.ttf');
}