@import url('https://fonts.googleapis.com/css?family=Baloo+Da|Dekko|Eater|Englebert|Finger+Paint|Kosugi|Lacquer|Nosifer|Slackey&display=swap');
body {


    /* MOBILE */
    @media (max-width: 1024px) {
        background: black;
        background-size: 100%; 
        display: block;
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;

    }
    /* DESKOP */
    @media (min-width: 1024px) {
        background: black;
        background-size: 100%;
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
    }




}





